@using APV.Avtoliga.UI.Web.Controllers.API
@using APV.Avtoliga.UI.Web.Models
@using APV.Avtoliga.UI.Web.Models.Entities

@{
    Layout = null;
    var headerModel = new HeaderModel();
}

<div class="b-header" ng-controller="HeaderController" ng-init="init()">

    <a class="logo" href="~/">
        <!--<img alt="Avtoliga" src="@Url.Content("~/Content/Images/header_logo.png")">-->
    </a>

    <div class="b-basket">
        <div class="time">
            Приём заказов с 10
            <sup>00</sup>
            до 19
            <sup>00</sup>
            <br>
            и с 11
            <sup>00</sup>
            до 18
            <sup>00</sup>
            по выходным
        </div>
        <span class="phone">
            <span class="code">+7</span>
            911 971-43-51
        </span>
        <a href="@Url.Action("Feedback", "Home")">Обратная связь</a>
        <p class="delivery">
            Доставка по Санкт-Петербургу — 500
            <span class="ruble">руб.</span>
        </p>
        <div class="social">
            <div>
                <!-- Put this script tag to the place, where the Share button will be -->
                <script type="text/javascript">
                    document.write(VK.Share.button({ url: "http://vk.com/avtoligaspb" }, { type: "round", text: "Мне нравиться" }));
                </script>
            </div>
        </div>
    </div>

    <!-- Main Menu -->
    <ul class="menu">

        @foreach (MenuInfo menuItem in headerModel.MainMenu)
        {
            <li>
                <a href="@menuItem.AbsoluteUrl">@menuItem.Title</a>
                @if (menuItem.Items != null)
                {
                    <ul>
                        @foreach (MenuInfo subMenuItem in menuItem.Items)
                        {
                            <li>
                                <a href="@subMenuItem.AbsoluteUrl">@subMenuItem.Title</a>
                            </li>
                        }
                    </ul>
                }
            </li>
        }
        <li class="login">
            @if (MainController.IsAuthenticated)
            {
                <a href="#" ng-dblclick="logout()">@MainController.User.Username</a>
            }
            else
            {
                <a href="#" ng-dblclick="login()"></a>
            }
        </li>

    </ul>

</div>
