@using APV.Avtoliga.UI.Web.Models;
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Layout.cshtml";
}
@model AboutModel

<div class="b-body">

    @Html.Partial("~/Views/SearchMenu.cshtml", @Model.ToSeachMenu())

    <div class="content">

        <h1>У нас вы можете купить неоригинальные запчасти для иномарок и автомобильную оптику </h1>

        <p>Бренд Avtoliga успешно работает на рынке Санкт-Петербурга с 2009 года и специализируется на продаже кузовных деталей для иномарок.</p>
        Мы продаем как неоригинальные запчасти тайваньского и итальянского производства, так и оригинал высокого качества.
        <p></p>
        <h2>Наш каталог</h2>
        <p>
            К кузовным деталям относятся передний и задний бампер, капот, крылья, решетка радиатора, зеркала и прочие запчасти. Всё это вы можете купить у нас по самым низким в Санкт-Петербурге ценам и заказать курьерскую доставку в удобное для вас время и место, либо забрать самостоятельно на нашем
            <a href="@Url.Action("Index", "Home", new { type = "delivery" })">пункте выдачи</a>.
        </p>
        <p>
            Помимо указанных неоригинальных запчастей, клиенты отмечают широкий выбор альтернативной оптики в нашем магазине – вы можете купить фару и задние фонари для всех популярных моделей автомобилей, в том числе в наличии очень интересные модели, используемые для внешнего
            <a href="@Url.Action("Producers", "Home")">тюнинга</a>, которые способны преобразить облик вашего любимого авто до неузнаваемости!
        </p>
        <p>В нашем каталоге неоригинальных запчастей представлены все популярные модели большой тройки японских производителей mitsubishi, тойота, honda (хонда), а так же немецкие фольксваген, мерседес, бмв(bmw) и другие.</p>
        <h2>Неоригинальные запчасти оптом</h2>
        <p>
            Благодаря большому опыту работы, гибкой ценовой политике и индивидуальному подходу к каждому клиенту мы имеем стабильный спрос на неоригинальные кузовные запчасти не только в Санкт-Петербурге, но и в регионах России. Подробнее об условиях отправки неоригинальных запчастей оптом в регионы читайте на странице
            <a href="@Url.Action("Index", "Home", new { type = "guarantee" })">Оплата и гарантии</a>
        </p>
        <p>Наши опытные специалисты всегда готовы проконсультировать вас и дать исчерпывающую информацию по всем интересующим позициям для вашего автомобиля!</p>
        <p>
            Вы всегда можете обратиться к нам по удобному для вас
            <a href="@Url.Action("Contacts", "Home")">способу связи</a>.
        </p>
    </div>

</div>
